/** 
    GENERAL 
*/

html, body  {
    height: 100%;
    background: #e5e5e5;
}

h1  {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

h2  {
    font-size: 1.125rem;
}

h3  {
    font-size: 1rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

div.card    {
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    background: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

div.card.header {
    margin-top: 1rem;
    border-bottom: solid 1px #ea0011;
    margin-bottom: 0.25rem;
}

div.card.header input,
div.card.header select {
    margin-bottom: 0rem;
}

div.card h1 {
    margin-top: 0rem;
}

div.card label {
    font-weight: bold;
    margin-top: 0.5rem;
}

div.card.header label   {
    font-weight: normal;
}

div.card.header p {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

div.card label input {
    margin-top: 0.5rem;
}

div.main-view,
div.content   {
    min-height: 100%;
}

div.main-view   {
    padding-bottom: 3.5rem;
}

div.card h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}

div.card table  {
    border: none;
}

div.card .icon,
div.card .tRight span  {
    font-size: 1.5rem;
    position: relative;
    top: 0.5rem;
}

div.card i.icon,
div.card span {
    color: #999999;
}

div.card a.icon {
    margin-left: 1rem;
}

div.card table tbody tr:hover {
    background: #d9cecf;
}

@media only screen and (min-width: 40.063em)    {
    h1  {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3  {
        font-size: 1rem;
    }
}

ul.breadcrumbs  {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

ul.pagination   {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    display: inline-block;
}

ul.pagination li a {
    font-weight: bold;
    border-radius: 0rem;
}

ul.pagination li a.active {
    background: #ea0011;
    color: white;
}

button:focus    {
    outline-color: #e5e5e5;
    background: #e5e5e5;
}

.button, 
button {
    background-color: #ea0011;
    border: #ea0011;
}

button[disabled],
button[disabled]:hover     {
    background-color: #999999;
    border: #999966;
}

.button:hover,
button:hover {
    background-color: #ea0011;
}

.row    {
    max-width: none;
}

a:hover {
    color: #ea0011;
}

a.icon  {
    color: #999999;
}

.list-item a.icon:hover,
a.icon:hover  {
    color: #ea0011;
    text-decoration: none;
}

.pending {
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31px;
}

.tRight.toolbar span.pending    {
    margin-top: -1rem;
    margin-right: 1rem;
    display: inline-block;
}

.list span.pending  {
    display: inline-block;
}

.list .desc a:hover,
.list-item a:hover {
    text-decoration: underline;
}

span.pending.cPrefix {
    display: inline-block;
    margin-bottom: -1rem;
    margin-right: 1rem;
}

span.pending    {
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    width: 2rem;
    display: block;
    height: 2.5rem;
}

.hidden     {
    display: none;
}

.fLeft  {
    float: left;
}

.margin-none    {
    margin: 0px;
}

.fRight {
    float: right;
}

.tRight {
    text-align: right;
}

h3  {
    display: inline-block;
}

.full-width {
    width: 100%;
}

table.double tbody td    {
    width: 50%;
}

table th {
    text-align: left;
}

/**
    LOADING WINDOW    
*/
div.loading-window  {
    position: absolute;
    top: 40%;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    height: 140px;
    text-align: center;
    padding: 20px;
}

div.loading-window img  {
    width: 60px;
    margin-bottom: 1rem;
}

div.cloak   {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    top: 0px;
    background: black;
    position: absolute;
}

div.loading-window p    {
    font-weight: bold;
    color: white;
}

/**
    FOOTER
*/
.footer  {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -2rem;
}

/**
    STATUS BAR   
 */
.status-bar {
    position: absolute;
    bottom: 0px;
    min-height: 2rem;
    background: white;
    border-top: solid 1px #dddddd;
    line-height: 2rem;
}

/**
 TOP BAR
*/
.top-bar input {
	height: auto !important;
	padding-top: .35rem !important;
	padding-bottom: .35rem !important;
}

.top-bar-section ul li>a.button {
    background: #ea0011;
}

.top-bar-section ul li>a.button:hover   {
    background: #a1000c;
}

.top-bar-section ul i    {
    margin-right: 0.25rem;
}

/**
 BUTTONS
*/

.button.full-width  {
    width: 100%;
}

.button.tLeft {
    text-align: left;
}

.button.tLeft i {
    float: right;
}

/**
    FIELDSET BAR
*/
a.tab fieldset i    {
    float: right;
}

a.tab fieldset  {
    background: #e7e7e7;
    margin-bottom: 0px;
}

a.tab:hover fieldset    {
    background: #b9b9b9;
    border-color: #b9b9b9;
}

a.tab   {
    color: black;
}

div.above-tab input,
div.above-tab button   {
    margin-bottom: 0px;
}

fieldset.tab-detail {
    margin-top: 0px;
    border-top: none;
}

fieldset div.tab-operations {
    text-align: right;
}

fieldset div.tab-operations button {
    margin-bottom: 5px;
}

div.plugins a,
div.projects a    {
    display: block;
    padding: 1.5rem;
    background: white;
    margin-top: 0.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}

div.plugins a span.link {
    line-height: 1.4rem;
}

div.plugins a:hover span.link,
div.projects a:hover p.link {
    text-decoration: underline;
}

div.plugins a span.meta  {
    display: block;
    color: #888888;
    text-decoration: none;
    line-height: 1rem;
    font-size: 0.8rem;
}

div.addition    {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.settings i  {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #999999;
}

div.settings span.link    {
    position: relative;
    top: -0.1rem;
}

/**
    SUBMISSION LIST    
*/
form.list fieldset .button,
.toolbar .button   {
    margin-bottom: 0px;
}   

form.list fieldset,
div.toolbar form fieldset   {
    padding: 0.875rem;
    margin-bottom: 0.5rem;
    border: none;
    margin-top: 0rem;
}

form.list fieldset  {
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    background: white;
}

form.list,
.toolbar form,
div.list-item   {
    margin-bottom: 0rem;
}

form.list p,
div.list-item p {
    margin-bottom: 0rem;
    line-height: 3.2rem;
    padding-left: 1rem;
}

form.list .desc a,
div.list-item .desc a   {
    line-height: 1.6rem;
}

form.list a.icon,
div.list-item a.icon    {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 0.5rem;
    margin-left: 1.3rem;
    position: relative;
    top: 0.2rem;
}

div.list-item a.icon    {
    margin-left: 0.5rem;
}

form.list .desc span,
div.list-item .desc span    {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0.2rem;
    color: #888888;
    display: block;
}

form.list p.about,
div.list-item p.about {
    padding-left: 0rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

form.list fieldset div.large-4,
div.toolbar div.large-4,
div.list-item div.large-4 {
    text-align: right;
}

div.toolbar label   {
    display: inline;
    margin-right: 0.5rem;
}

input[type=checkbox]  {
    position: relative;
    top: 0.1rem;
}

/**
    GOOGLE CHART
*/
.google-chart   {
    height: 360px;
}

.google-chart.liveness  {
    height: 100px;
    margin-top: 1rem;
}

/**
   LOGIN FORM 
*/
form.login  {
    max-width: 400px;
    margin: 0px auto;
    background: #222222;
}

form.login h3 {
    color: white;
    margin-top: 0rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

div.login-header h1::first-letter {
    color: #ea0011;
}

div.login-header    {
    max-width: 400px;
    margin: 0px auto;
    margin-top: 1.5rem;
}

div.login-header h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

div.login-header p  {
    margin-bottom: 0rem;
    text-align: center;
}

form.login fieldset {
    padding: 3rem;
    border: none;
    padding-top: 2.5rem;
}

form.login fieldset span.err    {
    display: block;
    color: #ea0011;
    padding-top: 0.8rem;
    font-size: 0.8rem;
}

/**
    TOOLBAR    
*/
div.toolbar label,
div.toolbar input   {
    display: inline;
    width: auto;
}

div.toolbar select  {
    display: inline-block;
    width: 10rem;
}

div.toolbar input[type=number]  {
    width: 4rem;
}

div.toolbar span.divider    {
    display: inline-block;
    width: 1rem;
}

/**
    ALERT BOX
*/
div.alert-box ul {
    margin-bottom: 0rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

div.alert-box   {
    margin-bottom: 0rem;
}

/**
    MULTITABLE
*/
div.multitable table td {
    width: 2rem;
    max-width: 2rem;
    word-wrap:break-word;
    border: solid 1px white;
}

div.multitable table td:first-child {
    width: auto;
}