/** 
    GENERAL 
*/

html, body  {
    height: 100%;
    background: #e5e5e5;
}

h1  {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

h2  {
    font-size: 1.125rem;
}

h3  {
    font-size: 1rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

nav .brand-logo {
    line-height: 5.5rem;
}

div.main-view,
div.content   {
    min-height: 100%;
}

div.main-view   {
    padding-bottom: 3.5rem;
}

@media only screen and (min-width: 40.063em)    {
    h1  {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3  {
        font-size: 1rem;
    }
}

.row    {
    max-width: none;
}

a:hover,
.secondary-content a:hover,
a.dropdown-button:hover {
    color: #4db6ac;
}

.pending {
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31px;
}

span.pending    {
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    width: 2rem;
    display: block;
    height: 2.5rem;
}

.hidden     {
    display: none;
}

.fLeft  {
    float: left;
}

.margin-none    {
    margin: 0px;
}

.fRight {
    float: right;
}

.tRight {
    text-align: right;
}

h3  {
    display: inline-block;
}

.full-width {
    width: 100%;
}

table.double tbody td    {
    width: 50%;
}

table th {
    text-align: left;
}

/**
    LOADING WINDOW    
*/
div.loading-window  {
    position: absolute;
    top: 40%;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    height: 140px;
    text-align: center;
    padding: 20px;
}

div.loading-window img  {
    width: 60px;
    margin-bottom: 1rem;
}

div.cloak   {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    top: 0px;
    background: black;
    position: absolute;
}

div.loading-window p    {
    font-weight: bold;
    color: white;
}

/**
    FOOTER
*/
.footer  {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -2rem;
}

/**
    STATUS BAR   
 */
.status-bar {
    position: absolute;
    bottom: 0px;
    min-height: 2rem;
    background: white;
    border-top: solid 1px #dddddd;
    line-height: 2rem;
}

/**
 BUTTONS
*/

.button.full-width  {
    width: 100%;
}

.button.tLeft {
    text-align: left;
}

.button.tLeft i {
    float: right;
}


/**
    GOOGLE CHART
*/
.google-chart   {
    height: 360px;
}

.google-chart.liveness  {
    height: 100px;
    margin-top: 1rem;
}


/**
    MULTITABLE
*/
div.multitable table td {
    width: 2rem;
    max-width: 2rem;
    word-wrap:break-word;
    border: solid 1px white;
}

div.multitable table th {
    border: solid 1px white;
    padding: 15px 10px;
}

div.multitable table td:first-child {
    width: auto;
}

div.multitable table th span {
    display: none;
    color: white;
}

div.multitable table th:hover {
    background: #bdc3c7;
}

div.multitable table th.active  {
    width: 15rem;
    background: #95a5a6;
}

div.multitable table th.active span {
    display: inline;
}

/**
 * Filter Box
 */
a.filter-inner-box {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

ul.dropdown-list {
    position:absolute; 
    list-style-type: none; 
    z-index: 9999; 
    margin: 0px 0px 0px 0px;
    background: white; 
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

li.dropdown-list-item a {
    font-size: 1rem;
    color: #26a69a;
    display: block;
    padding: 0.5rem 1rem;
}

li.dropdown-list-item:hover {
    background: #eee;
}




/** NEW */
a {
    cursor: pointer;
}

.card .collection {
    margin-bottom: 0rem;
    border: none;
}

.card .collection .collection-item {
    padding: 10px 0px;
    margin: 0;
    border-bottom: none;
}

.card .card-action a,
.card .card-action a:hover {
    color: white;
}

.collapsible ul {
    padding: 0.75rem;
} 

.dropdown-content li>a, .dropdown-content li>span {
    color: black;
}

.secondary-content a,
a.dropdown-button {
    color: #B2B2B2;
}

.secondary-content label {
    top: 0.2rem;
}

ul.dropdown-content.active {
    border-right: 1px solid #f5f5f5;
}

ul.breadcrumbs  {
    margin-top: 0rem;
    background: #4db6ac;
    padding-bottom: 1px; 
}

ul.breadcrumbs li {
    display: inline-block;
}

ul.breadcrumbs li a {
    color: #e0f2f1;
    font-size: 1.2rem;
    padding: 0.75rem 0.37rem;
    display: inline-block;
}

ul.breadcrumbs li:last-child a {
    color: white;
}

ul.breadcrumbs > *:before   {
    content: ">";
    color: #e0f2f1;
    font-size: 1.2rem;
    margin: 0rem 0.37rem;
}

ul.breadcrumbs > *:first-child:before {
    content: " ";
}

ul.pagination {
    margin-bottom: 3rem;
}

.card .card-action .pagination li a {
    color: #444;
    margin-right: 0rem;
}

.card .card-action .pagination li.active a {
    color: white;   
}

.pagination li.active {
    background: #4db6ac;   
}

hr {
    color: #e0e0e0;
}

td {
    border-radius: 0rem;
}

.secondary-content span.text-title {
    display: inline-block;
    padding: 0.5rem;
    font-size: 2rem;
}