/*
    IBP 
    Stylesheet
    Author: Filip Matys

    */

*:focus{
    outline: none !important;
}

body, html    {
    background: #f6f6f6 !important;
    width: 100%;
    height: 100%;
}

#page   {
    width: 100%;
    height: 100%;
}

.shadow {
    -moz-box-shadow: 1px 1px 1px 1px #eee;
    -webkit-box-shadow: 1px 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px 1px #eee;
}

/* Table definitions */
.table {
    display: table;
}

.block  {
    display: block;
    width: 100%;
}

.table-cell {
    display: table-cell;
}

#left_menu {
    background: #222222;
    width: 180px;
    height: 100%;
    border-right: solid 1px #eee;
}

#content {
}

/*
    Horizontal menu stylesheet   
 */
#horizontal_menu {
    height: 60px;
    background: white;
}

/*
    Horizontal menu - user area   
 */
#user_area {
    float: right;
    padding-right: 30px;
    height: 100%;
    line-height: 62px;
    color: #ccc;
}

#user_area .glyphicon   {
    color: #ccc;
    font-size: 18px;
}

#user_area .glyphicon-off   {
    margin-left: 30px;
}


#user_area .glyphicon-off:hover   {
    color: #cb3636;
}

#user_area .btn  {
    border: none;
}

#user_area a {
    color: #666;
    text-decoration: none;
}

#user_area .caret {
    border-top-color: #ccc;
    margin-left: 4px;
}

#user_area .btn-group.open .dropdown-toggle {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#user_menu  {
    margin-bottom: 10px;
}

#user_menu .glyphicon-user {
    top: 4px;
    margin-right: 4px;
}

#user_menu:hover .caret {
    border-top-color: #39b6e6;
}

#user_menu:hover .glyphicon-user {
    color: #39b6e6;
}

#user_menu .dropdown-menu {
    left: auto;
    right: 0px;
    top: 75%;
    border-radius: 0px;
}

#user_menu .dropdown-menu a:hover {
    color: white;
}

#login_form {
    margin: 0px auto;
    width: 400px;
    height: 100%;
    display: table;
    position: static;
}

#login_form>div {
    width: 100%;
    position: static;
    display: table-cell;
    vertical-align: middle;
}

#login_form_content {
    height: 300px;
    width: 400px;
    background: white;
    position: static;
    -moz-box-shadow: 0px 1px 1px 1px #eee;
    -webkit-box-shadow: 0px 1px 1px 1px #eee;
    box-shadow: 0px 1px 1px 1px #eee;
}

#login_form_content h2  {
    font-size: 14px;
    background: #222222;
    color: white;
    padding: 14px;
    font-weight: bold;
}

#login_form_content h2 span  {
    float: right;
    top: -1px;
}

#login_form_content label  {
    display: block;
    color: #666;
}

#login_form_content input  {
    width: 100%;
    margin-bottom: 10px;
    height: 36px;
    padding-left: 5px;
    border: 1px #ccc solid;
}

#login_form_content form  {
    display: block;
    width: 300px;
    margin: 0px auto;
    padding: 20px;
}

#login_form_content form .btn   {
    background: #39b6e6;
    color: white;
    border-radius: 0px;
    margin-top: 10px;
    width: 100%;
}

#view   {
    padding: 30px;
}

div.card    {
    display: block;
    -moz-box-shadow: 0px 1px 1px 1px #eee;
    -webkit-box-shadow: 0px 1px 1px 1px #eee;
    box-shadow: 0px 1px 1px 1px #eee;
    background: white;
}

div.card h5 {
    padding: 23px;
    font-size: 12px;
    color: #999;
    border-bottom: solid 1px #eee;
    font-weight: bold;
    letter-spacing: 1px;
}

div.card-content    {
    padding: 23px;
}

div.card-block   {
    float: left;
    padding-right: 23px;
    margin-bottom: 10px;
}

.card-block label   {
    display: block;
    color: #666;
}

.card-block input  {
    width: 200px;
    margin-bottom: 10px;
    height: 36px;
    padding-left: 5px;
    border: 1px #ccc solid;
}

.chock  {
    clear: both;
}

#view .btn   {
    background: #39b6e6;
    color: white;
    border-radius: 0px;
    position: relative;
    width: 100px;
    float: right;
    top: -10px;
}