<div class="card header">
<div class="row">
    <div class="large-4 columns">
        <h1><span>Overview chart</span></h1>
    </div>
    <div class="large-8 tRight toolbar columns">
        <select ng-show="Data.Types" ng-model="Data.Chart.type" ng-options="type for type in Data.Types"></select>
    </div>
</div>
</div>

<div class="card">
    <div class="row">
        <div class="large-12 columns">
            <h1>Chart</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="google-chart pending" google-chart chart="Data.Chart"></div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row">
        <div class="large-12 columns">
            <h1>Data overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table class="full-width">
                <tr ng-if="Data.Chart.options.displayOverviewHeader">
                    <th ng-repeat="header in Data.Chart.data.cols">{{header.label}}</th>
                </tr>
                <tr ng-repeat="row in Data.Chart.data.rows">
                    <td ng-repeat="col in row.c">{{col.v}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>