<div class="row">
    <div class="large-10 medium-9 columns">
        <h3>Overview chart</h3>
    </div>
    <div ng-show="Data.Types" class="large-2 medium-3 columns">
        <select ng-model="Data.Chart.type" ng-options="type for type in Data.Types">
            <option value="ColumnChart">Column Chart</option>
            <option value="LineChart">Line Chart</option>
            <option value="AreaChart">Area Chart</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="google-chart" google-chart chart="Data.Chart"></div>
    </div>
</div>