<div class="card">
  <div class="card-content">
    <span class="card-title black-text">Submissions</span>
    <ul class="collection">
      <li class="collection-item" ng-repeat="item in ListData.Submissions | orderBy:DateTime:true">
         <div class="secondary-content">
          <input type="checkbox" class="filled-in" id="checkbox{{$index}}" ng-model="item.Submission.Differ"/>
          <label for="checkbox{{$index}}"></label>
          <a ng-if="user" title="Delete submission" ng-click="DeleteSubmission({submissionId:item.Submission.Id}, {projectId: Request.ItemId})"><i class="material-icons">delete</i></a>
        </div>
        <span class="title"><a ui-sref="home.submission-overview({projectId: projectId, submissionId:item.Submission.Id})">{{item.Submission.DateTime}}</a></span>
        <p ng-show="item.Submission.User.Person">Imported by {{item.Submission.User.Person.Name}} on {{item.Submission.ImportDateTime | date:"longDate"}}
        </br>
        Good {{item.Submission.Good}}, Bad {{item.Submission.Bad}}, Strange {{item.Submission.Strange}}
        </p>
      </li>
    </ul>
  </div>
  <div class="card-action">
    <a class="btn" ng-click="Differ()">Differ</a>
  <input type="checkbox" class="filled-in" id="check_all" ng-model="SelectAll"/>
  <label for="check_all">Check all for difference</label>
  </div>
</div>
