<div class="card">
    <h5>PROFILE SETTINGS <button class="btn">Save</button></h5>
    <div class="card-content">
        <div class="card-block">
            <label>Username</label>
            <input type="text" />
        </div>
        <div class="card-block">
            <label>Email address</label>
            <input type="text" />
        </div>
        <div class="card-block">
            <label>Name</label>
            <input type="text" />
        </div>
        <div class="chock"></div>
        <div class="card-block">
            <label>Password</label>
            <input type="password" placeholder="******"/>
        </div>
        <div class="card-block">
            <label>Password check</label>
            <input type="password" placeholder="******"/>
        </div>
        <div class="chock"></div>
    </div>
</div>
