<div id="page">
    <div id="login_form">
        <div>
            <div id="login_form_content">
                <h2>LOGIN FORM<span class="glyphicon glyphicon-log-in"></span></h2>
                <form>
                    <label>Username:</label>
                    <input type="text" placeholder="Username" ng-model="user.Username"/>
                    <label>Password:</label>
                    <input type="password" placeholder="Password" ng-model="user.Password"/>
                    <button class="btn" ng-click="Login()">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>
