<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- Basic plugin info -->
  <base>
    <name>BenchExec XML</name>
    <author>Filip Matys</author>
    <version>v1.0</version>
    <root>cpalien</root>
    <about>CPAlien Forester results parser.</about>
    <identifier>benchexec-xml</identifier>
  </base>
  <!-- Plugin entity -->
  <entity name="CPAlien_SystemInfo">
    <property name="DateTime" type="varchar" value="63"></property>
    <property name="Hostname" type="varchar" value="63"></property>
    <property name="OS_Name" type="varchar" value="255"></property>
    <property name="CPU_Model" type="varchar" value="255"></property>
    <property name="CPU_Frequency" type="varchar" value="31"></property>
    <property name ="CPU_Cores" type="double"></property>
    <property name="RAM_Size" type="varchar" value="63"></property> 
  </entity>
</config>