<div class="row" ng-repeat="item in ListData.Categories">
    <div class="secondary-content">
        <span class="text-title">{{item.NumberOfTestCases}}</span>
        <a ng-click="HideCategory[$index] = true" ng-show="!HideCategory[$index]" title="Compress"><i class="material-icons">games</i></a>
        <a ng-click="HideCategory[$index] = false" ng-show="HideCategory[$index]" title="Expand"><i class="material-icons">games</i></a>
    </div>
    <h2>{{item.Name}}</h2>
    <div ng-hide="HideCategory[$index]" class="large-12 columns">
        <div class="row" ng-repeat="testCase in item.TestCases">
            <div class="large-12 columns">
                    <h3>
                        {{testCase.Name}}
                    </h3>
                    <table class="full-width double">
                        <tbody>
                            <tr ng-hide="ShowColumn[$index]" ng-repeat="result in testCase.Results">
                                <td>{{result.Key}}</td>
                                <td style="{{result.Style}}">{{result.Value}}</td>
                            </tr>
                            <tr ng-hide="ShowColumn[$index] || testCase.Results.length">
                                <td>No results</td>    
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider" ng-if="!$last" />
            </div>
        </div>
    </div>
</div>