<div class="card">
<div class="row" ng-repeat="item in ListData.Categories">
    <div class="large-12 columns">
            <div class="row">
                <div class="large-6 columns">
                    <h1><span>Category</span> {{item.Name}}</h1>
                </div>
                <div class="large-6 columns tRight">
                    <span>{{item.NumberOfTestCases}}</span>
                    <i class="icon fi-results"></i>
                    <a ng-click="HideCategory[$index] = true" ng-show="!HideCategory[$index]" title="Compress" class="icon fi-arrows-compress"></a>
                    <a ng-click="HideCategory[$index] = false" ng-show="HideCategory[$index]" title="Expand" class="icon fi-arrows-expand"></a>
                </div>
            </div>
    </div>
    <div ng-hide="HideCategory[$index]" class="large-12 columns">
            <table class="full-width">
                <thead>
                    <tr>
                        <th>Test Case</th>
                        <th ng-hide="ShowColumn[$index]" ng-repeat="header in item.TestCases[0].Results">{{header.Key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="testCase in item.TestCases">
                        <td>{{testCase.Name}}</td>
                        <td ng-hide="ShowColumn[$index]" style="{{result.Style}}" ng-repeat="result in testCase.Results">{{result.Value}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
</div>