<div class="row">
    <div class="large-10 columns">
        <h3>Test Cases</h3>
    </div>
</div>

<div class="row">
    <div class="large-2 columns">
        <span ng-show="PendingChanges" class="pending"></span>
    </div>
    <div class="large-10 columns toolbar tRight">
        <label>
            Total test cases
            {{ListData.ItemsCount}}
        </label>
        <span class="divider"></span>
        <label ng-show="Pages > 1">
            Page
            <input type="number" ng-model="ListData.Page" /> / {{Pages}}
        </label>
        <span ng-show="Pages > 1" class="divider"></span>
        <button ng-show="Pages > 1" ng-click="FetchData()" class="btn" ng-disabled="ListData.Page < 1 || ListData.Page > Pages">Go</button>
        <select ng-show="ListData.ViewTypes && ListData.ViewTypes.length > 1" ng-model="View" ng-options="viewType for viewType in ListData.ViewTypes"></select>
    </div>
</div>

<div class="row" ng-switch on="View">
    <div class="large-12 columns" ng-switch-when="List">
        <div ng-include="'visualization/components/testCaseList/list.html'"></div>
    </div>
    <div class="large-12 columns" ng-switch-when="Grouped">
        <div ng-include="'visualization/components/testCaseList/grouped.html'"></div>
    </div>
</div>
