<div class="row">
    <div class="large-12 columns">
        <h1>{{plugin.Name}} {{plugin.Version}}</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>{{plugin.About}}</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Projects</h3>
    </div>
</div>
<div class="row" ng-repeat="project in plugin.Projects">
    <div class="large-12 columns">
        <a class="tab">
            <fieldset>
                {{project.Name}}
            </fieldset>
        </a>
    </div>
</div>
