<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a ui-sref="home.dashboard">Dashboard</a></li>
            <li><a ui-sref="home.plugin({pluginId:path.Plugin.Id})">{{path.Plugin.Name}}</a></li>
            <li class="current"><a>{{path.Project.Name}}</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h1>Project</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <!-- Dynamic component loader, which loads components recieved from server -->
        <corly-dynamic-component-loader view="2"></corly-dynamic-component-loader>
    </div>
</div>