<div class="row">
    <div class="large-12 columns">
        <h1>Project</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Overview chart</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="google-chart" google-chart chart="ProjectOverview.ProjectOverviewChart"></div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <corly-submission-list data="ProjectOverview.ProjectOverviewList"></corly-submission-list>
    </div>
</div>