<div class="row">
    <div class="large-12 columns">
        <div class="login-header">
            <h1>CORLY</h1>
        </div>
    </div>
</div>
<div class="row">
    <form class="login">
        <fieldset>
            <h3>Sign in to Corly</h3>
            <input type="text" ng-model="credentials.Username" placeholder="Username" />
            <input type="password" ng-model="credentials.Password" placeholder="Password" />
            <input type="submit" ng-click="AuthorizeCredentials()" class="btn full-width" value="Login" />
        </fieldset>
    </form>
</div>