<div class="row">
    <div class="large-12 columns">
        <h1>Corly</h1>
        <p>Web Tool for Management of Long-Term Testing Results</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <label>Username</label>
        <input type="text" ng-model="credentials.Username" />
        <label>Password</label>
        <input type="password" ng-model="credentials.Password" />
        <input type="submit" class="button small full-width" value="Login"/>
    </div>
</div>