<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- Basic component info -->
  <base>
    <name>Submission overview list</name>
    <identifier>submission-overview-list-dejagnu</identifier>
    <author>Filip Matys</author>
    <version>v1.0</version>
    <view-type>0</view-type>
    <folder>submissionOverviewListDejagnu</folder>
    <js>submissionOverviewListDejagnu.js</js>
    <description>List of test cases for given submission.</description>
  </base>
  <!-- Supported plugins -->
  <supported-plugins>
    <plugin identifier="dejagnu-summary" />
  </supported-plugins>
  <!-- Template settings -->
  <setting-templates>
    <template identifier="page-size" label="Number of categories per page" type="1" default="4" required="true"></template>
  </setting-templates>
</config>