<div class="row">
    <div class="large-12 columns">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="card header">
        <h1><span>Installed plugins</span></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="card">
        <div class="row" ng-repeat="plugin in Plugins">
            <div class="large-12 columns">
                <div class="row list-item">
                    <div class="large-8 medium-8 columns desc">
                        <a ui-sref="home.plugin({pluginId: plugin.Id})" class="full-width tLeft">{{plugin.Name}} {{plugin.Version}}</a>
                        <span>{{plugin.About}}</span>
                    </div>
                </div>
                <hr ng-if="!$last" />
            </div>
        </div>
    </div> 
</div>
</div>