<div class="row">
    <div class="large-12 columns">
        <h1>Data Overview</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>Here is place for your results. Choose plugin, project and see what you got.</p>
    </div>
</div>

<div class="row" ng-repeat="plugin in Plugins">
    <div class="large-12 columns">
        <a ui-sref="home.plugin-overview({pluginId: plugin.Id})" class="button full-width tLeft">{{plugin.Name}} {{plugin.Version}} <i class="fi-arrow-right medium"></i></a>
    </div>
</div>