<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">Import</span>
                <form name="importForm">
                    <label>Plugin</label>
                    <select class="browser-default" ng-model="import.Plugin" ng-options="plugin.Id as (plugin.Name + ' ' + plugin.Version) for plugin in plugins" ng-change="LoadProjects()" required></select>

                    <label>Project</label>
                    <select class="browser-default" ng-disabled="!import.Plugin" ng-model="import.Project" ng-options="project.Id as project.Name for project in projects" required></select>

                    <div ng-show="showGitHash">
                        <label>Git hash</label>
                        <input type="text" ng-model="import.GitHash" />
                    </div>

                    <label>File</label>
                    <input type="text" ng-model="selectedFile.name" readonly required/>
                    <button class="btn postfix" onclick="$(this).siblings('input').click()">Choose file</button>
                    <input class="hidden" type="file" ng-file-select="onFileSelect($files)"/>
                    
                </form>
            </div>
            <div class="card-action">
                <label>Upload progress</label>
                <div class="progress" ng-class="{ alert: !$scope.valid, success: $scope.valid }">
                    <div id="upload-progress" class="determinate" style="width: 0%;"></div>
                </div>
                <div>
                    <span ng-show="PendingChanges">Uploading...</span> <span ng-show="PendingChanges" class="pending cPrefix"></span>
                    <button ng-disabled="importForm.$invalid" class="btn" ng-click="uploadFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>