 <nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a ui-sref="home.dashboard">Corly Management Tool</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a>Menu</a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider"></li>
            <li><a ui-sref="home.dashboard"><i class="fi-home"></i> Dashboard</a></li>
            <li class="divider"></li>
            <li class="has-form">
                <a ui-sref="home.import" class="button"><i class="fi-upload"></i> Import</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="home.settings"><i class="fi-widget"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a ui-sref="home.profile"><i class="fi-torso"></i>{{user.Person.Name}}</a></li>
            <li class="divider"></li>
            <li><a ng-click="Logout()"><i class="fi-power"></i>Logout</a></li>
        </ul>

    </section>
</nav>
<!-- ALERT BOX -->
<div ng-if="alert.content" data-alert class="alert-box" ng-class="{success: alert.success, alert: !alert.success}">
    <span>{{alert.content}}</span>
    <ul ng-if="alert.errors">
        <li ng-repeat="error in alert.errors">{{error}}</li>
    </ul>    
  <a ng-click="ClearAlert()" class="close-mark">&times;</a>
</div>

<!-- CONTENT -->
<div ui-view class="content"></div>

<div ng-show="PendingChanges" class="cloak">
</div>
<div ng-show="PendingChanges" class="loading-window">
    <img src="img/loading.gif" />
    <p>Loading</p>
</div>