 <nav>
    <div class="nav-wrapper blue-grey darken-4">
        <div class="row">
            <div class="col s12">
                <a class="brand-logo" ui-sref="home.dashboard">Corly</a>
                <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a ui-sref="home.dashboard"><i class="material-icons">dashboard</i></a></li>
                    <li><a ui-sref="home.import" ><i class="material-icons">play_for_work</i></a></li>
                    <li><a ng-click="OpenSettings()"><i class="material-icons">settings</i></a></li>
                    <li><a ui-sref="home.profile">{{user.Person.Name}}<i class="material-icons right">perm_identity</i></a></li>
                    <li><a ng-click="Logout()"><i class="material-icons">input</i></a></li>
                </ul>
                <ul id="mobile-demo" class="side-nav">
                    <li><a ui-sref="home.dashboard">Dashboard</a></li>
                    <li><a ui-sref="home.import" >Import</a></li>
                    <li><a ng-click="OpenSettings()">Settings</a></li>
                    <li><a ui-sref="home.profile">{{user.Person.Name}}</a></li>
                    <li><a ng-click="Logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<div ui-view class="content"></div>

<!-- SETTINGS MODAL -->
<div id="settings_modal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Settings</h4>
      <div class="collection">
        <a ng-click="GoTo('home.settings-release-notes')" class="collection-item avatar">
          <i class="material-icons circle teal lighten-2">announcement</i>
          <span class="title black-text">Release notes</span>
          <p class="blue-grey-text darken-4-text">Changes made to the system in plain language
          </p>
        </a>
        <a ng-click="GoTo('home.settings-users')" class="collection-item avatar">
          <i class="material-icons circle teal lighten-2">supervisor_account</i>
          <span class="title black-text">Users</span>
          <p class="blue-grey-text darken-4-text">User management
          </p>
        </a>
        <a ng-click="GoTo('home.plugin-management')" class="collection-item avatar">
          <i class="material-icons circle teal lighten-2">settings_input_composite</i>
          <span class="title black-text">Plugin management</span>
          <p class="blue-grey-text darken-4-text">Installation of new plugins
          </p>
        </a>
      </div>
    </div>
</div>

<div ng-show="PendingChanges" class="cloak">
</div>
<div ng-show="PendingChanges" class="loading-window">
    <img src="img/loading.gif" />
    <p>Loading</p>
</div>