<div class="row">
    <div class="large-12 columns">
        <h1>{{plugin.Name}} {{plugin.Version}}</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>{{plugin.About}}</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Projects</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="row collapse above-tab">
            <div class="small-10 columns">
                <input ng-model="projectName" type="text" placeholder="Project name">
            </div>
            <div class="small-2 columns">
                <button ng-disabled="!projectName" ng-click="CreateProject()" href="#" class="button postfix">New</button>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="project in plugin.Projects">
    <div class="large-12 columns">
        <a class="tab" ng-click="ToggleProjectDetail($index)">
            <fieldset>
                {{project.Name}} <i ng-show="!showProjectDetail[$index]" class="fi-plus medium"></i><i ng-show="showProjectDetail[$index]" class="fi-minus medium"></i>
            </fieldset>
        </a>
    </div>
    <div ng-show="showProjectDetail[$index]" class="large-12 columns">
        <fieldset class="tab-detail">
            <div class="row">
                <div class="large-6 columns">
                    <label>Date created</label>
                    <p>{{project.DateCreated | date:"longDate"}}</p>
                </div>
                <div class="large-6 columns">
                    <label>Author</label>
                    <p>{{project.Author}}</p>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label>Number of submissions</label>
                    <p>0</p>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns tab-operations">
                    <button class="button alert">Delete</button>
                    <button class="button">Clean</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
