<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a ui-sref="home.dashboard">Dashboard</a></li>
            <li class="current"><a>{{plugin.Name}} {{plugin.Version}}</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h1>{{plugin.Name}} {{plugin.Version}}</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>{{plugin.About}}</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Projects</h3>
    </div>
</div>
<div class="row addition">
    <div class="large-12 columns">
        <div class="row collapse above-tab">
            <div class="small-9 large-11 columns">
                <input ng-model="projectName" type="text" placeholder="Project name">
            </div>
            <div class="small-3 large-1 columns">
                <button ng-disabled="!projectName" ng-click="CreateProject()" href="#" class="btn postfix">New</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="row" ng-repeat="project in plugin.Projects">
            <div class="large-12 columns">
                <form class="list">
                    <fieldset>
                        <div class="row">
                            <div class="large-8 medium-12 columns desc">
                                <a ui-sref="home.project-overview({projectId:project.Id})">{{project.Name}}</a>
                                <p class="about">Created {{project.DateCreated | date:"longDate"}} by {{project.Author.Person.Name}}</p>
                                <span>Number of submissions {{project.Submissions}}</span>
                            </div>
                            <div class="large-4 medium-12 columns">
                                <button class="btn" ng-click="ClearProject({projectId:project.Id})">Clean</button>
                                <button ng-click="DeleteProject({projectId:project.Id})" class="btn alert">Delete</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
