<div class="row">
    <div class="large-12 columns">
        <h1>{{plugin.Name}} {{plugin.Version}}</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>{{plugin.About}}</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Projects</h3>
    </div>
</div>
<div class="row addition">
    <div class="large-12 columns">
        <div class="row collapse above-tab">
            <div class="small-10 columns">
                <input ng-model="projectName" type="text" placeholder="Project name">
            </div>
            <div class="small-2 columns">
                <button ng-disabled="!projectName" ng-click="CreateProject()" href="#" class="btn postfix">New</button>
            </div>
        </div>
    </div>
</div>
<div class="row projects" ng-repeat="project in plugin.Projects">
    <div class="large-12 columns">
        <a ui-sref="home.project-overview({projectId:project.Id})">
            <div class="row">
                <div class="large-6 columns">
                    <p class="link">
                        {{project.Name}}
                    </p>
                </div>
                <div class="large-6 columns tRight">
                    <button class="btn alert">Delete</button>
                    <button class="btn">Clean</button>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Created
                        <span>{{project.DateCreated | date:"longDate"}} by {{project.Author.Person.Name}}</span>
                    </label>
                    <label>
                        Number of submissions
                        <span>{{project.Submissions}}</span>
                    </label>
                </div>
            </div>
        </a>
    </div>
</div>
