<div class="row">
    <div class="large-12 columns">
        <h1>Plugin Management</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>Here is place for your plugins. You can see all information about them, can install new ones or delete the old.</p>
    </div>
</div>

<div class="row" ng-repeat="plugin in Plugins">
    <div class="large-12 columns">
        <a ui-sref="home.plugin({pluginId: plugin.Id})" class="button full-width tLeft">{{plugin.Name}} {{plugin.Version}} <i class="fi-arrow-right medium"></i></a>
    </div>
</div>