<div class="row">
    <div class="large-12 columns">
        <h1>Profile</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Person Detail</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
       <label>Name
           <input type="text" ng-model="user.Person.Name" />
       </label>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <label>
            Email
            <input type="text" ng-model="user.Person.Email" />
        </label>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Credentials</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <label>
            Username
            <input type="text" ng-model="user.Username" />
        </label>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <label>
            Password
            <input type="password" ng-model="user.Password" />
        </label>
    </div>
    <div class="large-6 columns">
        <label>
            Password check
            <input type="password" ng-model="passwordCheck" />
        </label>
    </div>
</div>
<div class="row">
    <div class="large-12 columns tRight">
        <input data-tooltip title="This feature wasn't subject of bachelor thesis, so is not functional. But is planned in future releases" type="submit" class="btn" value="Save Changes"/>
    </div>
</div>