<div class="row">
    <div class="large-12 columns">

        <div class="card header">
            <div class="row">
                <div class="large-6 columns">
                    <h1><span>Profile</span></h1>
                </div>
                <div class="large-6 columns tRight toolbar">
                    <input type="submit" class="button small" ng-disabled="user.Password && (user.Password != passwordCheck)" ng-click="Save()" value="Save Changes"/>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Person Detail</h1>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                 <label>Name
                     <input type="text" ng-model="user.Person.Name" />
                 </label>
             </div>
            <div class="large-6 columns">
                <label>Email
                    <input type="text" ng-model="user.Person.Email" />
                </label>
            </div>
        </div>
        <div class="row">
                <div class="large-12 columns">
                    <h1>Credentials</h1>
                </div>
            </div>
        <div class="row">
            <div class="large-6 columns">
                <label>
                    Username
                    <input type="text" ng-model="user.Username" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>
                    Password
                    <input type="password" ng-model="user.Password" />
                </label>
            </div>
            <div class="large-6 columns">
                <label>
                    Password check
                    <input type="password" ng-model="passwordCheck" />
                </label>
            </div>
        </div>
    </div>
</div>
</div>