<div class="row">
    <div class="large-12 columns">
        <h1>Settings</h1>
    </div>
</div>

<div class="row plugins settings">
    <div class="large-12 columns">
        <a data-tooltip title="This feature wasn't subject of bachelor thesis, so is not functional. But is planned in future releases" class="full-width tLeft">
            <i class="fi-calendar"></i><span class="link">Release notes</span>
        </a>
    </div>
    <div class="large-12 columns">
        <a ui-sref="home.settings-users" class="full-width tLeft">
            <i class="fi-torsos-all"></i><span class="link">Users</span>
        </a>
    </div>
</div>