<div class="row toolbar">
    <div class="large-12 columns">
        <form>
            <fieldset>
                <div class="row">
                    <div class="large-8 medium-12 columns">
                        <h3>Submissions</h3>
                    </div>
                    <div class="large-4 medium-12 columns">
                        <i class="button secondary fi-check medium"></i>
                        <a class="button secondary medium">Differ</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="row" ng-repeat="item in Data.Submissions">
            <div class="large-12 columns">
                <form class="list">
                    <fieldset>
                        <div class="row">
                            <div class="large-8 medium-12 columns">
                                <p>{{item.Submission.DateTime | date:'longDate'}}</p>
                            </div>
                            <div class="large-4 medium-12 columns">
                                <i class="button secondary fi-check medium"></i>
                                <a ui-sref="home.submission-overview({submissionId:item.Submission.Id})" class="button secondary medium">Detail</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div> 
</div>