<div class="card header">
    <div class="row">
        <div class="large-4 medium-4 columns">
            <h1><span>Submissions</span></h1>
        </div>
        <div ng-show="ListData.Submissions.length > 1" class="large-8 medium-8 columns toolbar tRight">
            <label>
                Check all
                <input type="checkbox" ng-model="SelectAll" />
            </label>
            <a class="btn" ng-click="Differ()">Differ</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="row" ng-repeat="item in ListData.Submissions | orderBy:DateTime:true">
            <div class="large-12 columns">
                <form class="list">
                    <fieldset>
                        <div class="row">
                            <div class="large-8 medium-12 columns desc">
                                <a ui-sref="home.submission-overview({submissionId:item.Submission.Id})">{{item.Submission.DateTime}}</a>
                                <span ng-show="item.Submission.User.Person">Imported by {{item.Submission.User.Person.Name}} on {{item.Submission.ImportDateTime | date:"longDate"}}</span>
                            </div>
                            <div class="large-4 medium-12 columns">
                                <input ng-show="ListData.Submissions.length > 1" type="checkbox" ng-model="item.Submission.Differ" />
                                <a ui-sref="home.submission-overview({submissionId:item.Submission.Id})" class="fi-list-thumbnails icon"></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div> 
</div>