<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">info_outline</i>Current</div>
        <div class="collapsible-body white">
          <div class="row">
            <div class="col s12">
              <ul>
                <li><h5>2015.0902</h5></li>
                <li>Fixed blocking behavior while importing results</li>
                <li>Large file imports no longer end with execution timeout error</li>
                <li>Added blocking modal windows for operations taking long time to execute</li>
                <li>GDB testsuite is now supported in DejaGnu summary plugin</li>
                <li>Moved application to result-cloud.org</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">schedule</i>Previous</div>
        <div class="collapsible-body white">
          <div class="row">
            <div class="col s12">
              <ul>
                <li><h5>2015.0819</h5></li>
                <li>Changed application design</li>
                <li>Test cases on submission detail page can now be filtered</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>