
<div class="card">
  <div class="card-content">
    <span class="card-title black-text">Overview chart</span>
    <div class="google-chart pending" google-chart chart="Data.Chart"></div>
    <span class="card-title black-text">Data overview</span>
    <table class="full-width">
      <tr ng-if="Data.Chart.options.displayOverviewHeader">
          <th ng-repeat="header in Data.Chart.data.cols">{{header.label}}</th>
      </tr>
      <tr ng-repeat="row in Data.Chart.data.rows">
          <td ng-repeat="col in row.c">{{col.v}}</td>
      </tr>
  </table>
  </div>
  <div class="card-action" ng-show="Data.Types">
      <select class="browser-default" ng-model="Data.Chart.type" ng-options="type for type in Data.Types"></select>
  </div>
</div>
