<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a ui-sref="public.projects">Projects</a></li>
            <li class="current"><a>Dashboard</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <!-- Dynamic component loader, which loads components recieved from server -->
        <corly-dynamic-component-loader view="3"></corly-dynamic-component-loader>
    </div>
</div>