<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- Basic plugin info -->
  <base>
    <name>DejaGnu summary</name>
    <author>Filip Matys</author>
    <version>v1.0</version>
    <root>systemtap</root>
    <identifier>dejagnu-summary</identifier>
    <about>SystemTap test results parser</about>
  </base>
  <!-- Plugin entity -->
  <entity name="SystemTAP_Configuration">
    <property name="DateTime" type="varchar" value="63"></property>
    <property name="Host" type="varchar" value="521"></property>
    <property name="Snapshot" type="varchar" value="255"></property>
    <property name="GCC" type="varchar" value="255"></property>
    <property name="Distro" type="varchar" value="255"></property>
    <property name="SElinux" type="varchar" value="31"></property>
  </entity>
</config>